<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ '/writing/' | relative_url }}">Writing</a>
      <a href="{{ '/music-reviews/' | relative_url }}">Music</a>
      <a href="{{ '/photography/' | relative_url }}">Photography</a>
      <a href="{{ '/one-minute-vlogs/' | relative_url }}">Vlogs</a>
      <a href="{{ '/newsletter/' | relative_url }}">Newsletter</a>
    </nav>
  </div>
</header>
